/* Custom fonts */

@font-face {
    font-family: Ubuntu;
    src: local("Ubuntu"), local("Ubuntu-Regular"), url(Ubuntu-Regular.ttf);
}

@font-face {
    font-family: Ubuntu-Italic;
    src: local("Ubuntu-Italic"), url(Ubuntu-Italic.ttf);
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
    background-color: red;
}


/* Tag overrrides */

body,
h1,
h2,
h3,
h4,
h5 {
    font-family: 'Ubuntu', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 3.0rem;
}

h2 {
    font-size: 2.0rem;
    color: #37474f;
    margin-bottom: 0px;
}

h3 {
    font-size: 1.5rem;
}

strong {
    font-size: 1.1em;
    color: darkblue;
}


/* Materializecss overrrides */

.carousel-slider {
    height: 400px !important;
}


/* Custom styles overrrides */

.dpg-opaque {
    /* Theoretically for IE 8 & 9 (more valid) */
    /* ...but not required as filter works too */
    /* should come BEFORE filter */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    /* This works in IE 8 & 9 too */
    /* ... but also 5, 6, 7 */
    filter: alpha(opacity=60);
    /* Modern Browsers */
    opacity: 0.6;
}

.dpg-italic {
    font-style: italic;
}

.dpg-icon {
    max-width: 4rem;
    max-height: 4rem;
}

.dpg-album-card-image {
    width: 300px;
    height: 400px;
}

.dpg-album-card,
.dpg-album-image {
    height: 400px;
}

.selfwrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto 0;
    /* the bottom margin is the negative value of the footer's height */
}

.page-footer {
    padding-top: 20px;
    color: #fff;
    background-color: #424242;
}

.page-footer .footer-copyright {
    overflow: hidden;
    min-height: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 10px 0px;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(51, 51, 51, 0.08);
    height: 52px;
}

.page-footer,
.push {
    height: 140px;
    /* .push must be the same height as .footer */
}